
#defaultNoteStyle{
	border-radius: 15px 50px;
	display: inline-block;
	width: 12rem;
	height: 13rem;
	border: 2px solid black;
	padding: 10px;
	border-radius: 3px 50px;
	margin: 1rem;
}

.BlueNote{
	background: linear-gradient(180deg, #80E6FF 50px, #00CCFF 10px);
}
.YellowNote{
	background: linear-gradient(180deg, #FFF4B5 50px, #FFE96A 10px);
}

.BlackNote{
	background: linear-gradient(180deg, #808080 50px, #000000 10px);
	color: white;
	input, textarea{
        color:white;
    }
}
.Sticky {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 1.5fr;
}

.Header{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: max-content;
}
.Title{
	border: none;
	width: 8rem;
	height: 2rem;
	background-color:transparent;
	outline: none;
	margin-left: 1rem;
}

.Content{
	width: 11rem;
	height: 8.5rem;
	resize: none;
	background-color:
	transparent;
	border: none;
	padding: 0.5rem;
	scrollbar-width: none;
	outline: none;
}
